@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';

.nav-tabs {
  border: 0;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color: #FFFFFF;
	color: #494949;
	border-right: 1px solid #ccc;
	text-decoration: none;
}

@media (max-width: 767px) { 
	.nav .open > a, 
	.nav .open > a:hover, 
	.nav .open > a:focus {
		background-color: #FFFFFF;
		border-right: 0;
		text-decoration: none;
		border-bottom: 2px solid #ccc;
	}

	.navbar-nav {
	    margin: 0 -15px;
	}
}